<div>
    <h2 data-translate="gestionProjetApp.rendezVous.home.title">Rendez Vous</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="rendez-vous.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="gestionProjetApp.rendezVous.home.createLabel" has-authority="ROLE_ADMIN">
                        Create new Rendez Vous
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span data-translate="gestionProjetApp.rendezVous.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="gestionProjetApp.rendezVous.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ordreDuJour"><span data-translate="gestionProjetApp.rendezVous.ordreDuJour">Ordre Du Jour</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.email"><span data-translate="gestionProjetApp.rendezVous.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rendezVous in vm.rendezVous track by rendezVous.id">
                    <td><a ui-sref="rendez-vous-detail({id:rendezVous.id})">{{rendezVous.id}}</a></td>
                        <td>{{rendezVous.date | date:'mediumDate'}}</td>
                    <td>{{rendezVous.description}}</td>
                    <td>{{rendezVous.ordreDuJour}}</td>
                    <td>
                        {{rendezVous.user.email}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="rendez-vous-detail({id:rendezVous.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"
                                      has-authority="ROLE_ADMIN"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="rendez-vous.edit({id:rendezVous.id})"
                                    class="btn btn-primary btn-sm" has-authority="ROLE_ADMIN">
                                <span class="glyphicon glyphicon-pencil"
                                      has-authority="ROLE_ADMIN"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="rendez-vous.delete({id:rendezVous.id})"
                                    class="btn btn-danger btn-sm"
                                    has-authority="ROLE_ADMIN">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
