
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDocumentLabel" data-translate="gestionProjetApp.document.home.createOrEditLabel">Create or edit a Document</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.document.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.document.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionProjetApp.document.libelle" for="field_libelle">Libelle</label>
            <input type="text" class="form-control" name="libelle" id="field_libelle"
                    ng-model="vm.document.libelle"
                    required />
            <div ng-show="editForm.libelle.$invalid">
                <p class="help-block"
                    ng-show="editForm.libelle.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionProjetApp.document.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.document.description"
                    required />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionProjetApp.document.dateDeposition" for="field_dateDeposition">Date Deposition</label>
                <div class="input-group">
                    <input id="field_dateDeposition" type="text" class="form-control" name="dateDeposition" uib-datepicker-popup="{{dateformat}}" ng-model="vm.document.dateDeposition" is-open="vm.datePickerOpenStatus.dateDeposition"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDeposition')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateDeposition.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateDeposition.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionProjetApp.document.typeDocument" for="field_typeDocument">Type Document</label>
            <input type="text" class="form-control" name="typeDocument" id="field_typeDocument"
                    ng-model="vm.document.typeDocument"
                    required />
            <div ng-show="editForm.typeDocument.$invalid">
                <p class="help-block"
                    ng-show="editForm.typeDocument.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Fichier</label>
            <input class="form-control" type="file" name="file" />
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
		
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>
        <div class="form-group">
            <label data-translate="gestionProjetApp.document.projet" for="field_projet">Projet</label>
            <select class="form-control" id="field_projet" name="projet" ng-model="vm.document.projet" ng-options="projet as projet.libelleProjet for projet in vm.projets track by projet.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
